*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    // background: #90E8C3;
    background: #E89E90;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
//#E89E90
//#90E8C3
//#9C4F41