@font-face {
    font-family: avenir;
    src: url(../fonts/AvenirLTStd-Roman.otf);
  }

.container {
    display: flex;
    justify-content: center;
}

#Demo {
    font-family: avenir;
    opacity: 0;
}

#Rectangle_1 {
    opacity: 0;
}

#Rectangle_2 {
    opacity: 0;
}

#Rectangle_10 {
    transform: translate(1349px, 53px);
}

#Rectangle_9 {
    transform: translate(1366px, 98px);
}