svg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.st01 {
    fill: none;
    stroke: #ccc;
    stroke-width: 5;
    stroke-miterlimit: 10;
}
.st02 {
    fill: none;
    stroke: #000000;
    stroke-width: 5;
    stroke-miterlimit: 10;
}

.path {
    stroke-dasharray: 4500;
    stroke-dashoffset: 4500;
    transition: 10s;
}

svg:hover .path {
    stroke-dashoffset: 0;
}